body {
    background-color: #F0ECE2;
}

h1 {
    color: #9D8F8F;
}

h3 {
    color: #9D8F8F;
}

hr {
    border-style: none; 
    border-top-style: dotted;
    border-color: #9D8F8F; 
    border-width:7px; 
    width: 6%;
}

a {
    color: #9D8F8F;
}

