body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: bold;
}

h5{
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    color: #716F81;
}


/* Feature icons */
.icon {
    padding-bottom: 7%;
    color: #C9BBCF;
}

.icon:hover{
    color: #716F81;
}

/* Title section (main info at the top) */
.container-fluid{
    padding: 3% 15% 7%;
}

#title{
    background-color: #716F81;
    color: azure;
}

/* Title image (online shop page) */
.onlineShop{
    width: 20%;
    border: 5px solid black;
    border-radius: 3%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
   
}

/* Navigation bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: lighter;
    color: azure;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.fa-brands{
    padding: 10px;
}

#lightDownloadButton{
    border-color: black;
    color: black;
}

/* Features description section */

#features{
    padding: 5% 15%;
    background-color: azure;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

/*Testimonial section*/

#testimonials{
    
    text-align: center;
    background-color: #716F81;
    color: azure;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonialImage{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

/*Social Media*/

#socialMedia{
    background-color: #716F81;
    text-align: center;
    padding-bottom: 3%;
}

.mediaIcon{
    width: 5%;
    border-radius: 100%;
    margin: 20px 20px 50px;
}

/*Pricing section - Cards*/

#pricing{
    padding: 70px 100px;
    text-align: center;
}

.pricingCard{
    padding: 3% 2%;
}

/*Call to action*/

#cta {
    padding: 3% 20%;
    background-color: #716F81;
    color: azure;
    text-align: center;
}

.ctaHeading{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5
    
}

/*Footer*/

#footer {
    padding: 1% 5%;
    background-color: #716F81;
    text-align: center;
}

.copyright{color: azure;}

.socialIcon {
    padding: 3% 1%;
}

@media (max-width: 996px) {
    #title{
        text-align: center;
    }
    .onlineShop{
        position: static;
        transform: rotate(0);
        width: 40%;
    }
}